[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
authlib = "*"
httpx = "*"
starlette = "*"
uvicorn = "*"
itsdangerous = "*"
fastapi = "*"
websocket-client = "*"

[requires]
python_version = "3.10"
